<div class="ui fixed inverted menu" id="menu">
  <div class="ui container">
    <a href="/" class="header item">
      <strong>#gashack²</strong>
    </a>
    <a class="item" href="/register/">Register</a>
    <div class="ui simple dropdown item">
      Event <i class="dropdown icon"></i>
      <div class="menu">
      <a class="item" href="/venue/">Venue</a>
      <a class="item" href="/hotels/">Hotels</a>
      <a class="item" href="/sponsorship/">Sponsorship</a>
        <a class="item" href="/social/">Social</a>
      </div>
    </div>
    <a class="item" href="/ideas/">Ideas</a>
    <div class="ui simple dropdown item">
      Connect <i class="dropdown icon"></i>
      <div class="menu">
      <a class="item" href="mailto:chairman@scata.org.uk">Email</a>
      <a class="item" href="https://twitter.com/scata_uk">Twitter</a>
      <a class="item" href="https://gashack.slack.com">Slack</a>
      </div>
    </div>
  </div>
      </div>


  <div class="ui sidebar inverted vertical menu">
  <a class="item header" href="/index/">#gashack²</a>
  <a class="item" href="/register/">&raquo; Register</a>
  <div class="item">Event</div>
           <a class="item" href="/venue/">&raquo; Venue</a>
      <a class="item" href="/hotels/">&raquo; Hotels</a>
      <a class="item" href="/sponsorship/">&raquo; Sponsorship</a>
        <a class="item" href="/social/">&raquo; Social</a>
        <a class="item" href="/ideas/">Ideas</a>
        <div class="item">Connect</div>
      <a class="item" href="#">&raquo; Email</a>
      <a class="item" href="#">&raquo; Twitter</a>
      <a class="item" href="https://gashack.slack.com">&raquo; Slack</a>
</div>
<div class="pusher">
  <div class="ui fixed inverted menu" id="m_menu">
  <div class="ui container" id="m_btn">

  <div class="icon item">
    <a id="hamburger"><i class="content icon"></i> Menu</a>
  </div>
</div></div>