{{ partial "head.html" . }}
<body>

  {{ partial "header.html" . }}

<div class="ui main three column grid container">
  <div class="ui container">
    <h1>Register your interest</h1>
    <div class="ui pink inverted segment"><p>
      Fill in the form below and click submit.</p><p>We'll be in touch within 48 hours to confirm your registration.</p>
  </div>
  <div class="ui raised segments">
    <div class="ui segment">
      <div class="ui huge form" id="signup">
      <div class="field">
          <label>Name</label>
          <input placeholder="Full Name" type="text" id="field1">
      </div>
      <div class="field">
          <label>Email</label>
          <input placeholder="name@domain.com" type="email" id="field2">
      </div>
      <div class="grouped fields">
          <label for="job">I am:</label>
          <div class="field">
              <div class="ui radio checkbox job">
                  <input type="radio" name="job" checked="" tabindex="0" class="hidden" id="Anaesthetist">
                  <label>An anaesthetist</label>
              </div>
          </div>
          <div class="field">
              <div class="ui radio checkbox job">
                  <input type="radio" name="job" tabindex="0" class="hidden" id="Developer">
                  <label>A developer</label>
              </div>
          </div>
          <div class="field">
              <div class="ui radio checkbox job">
                  <input type="radio" name="job" tabindex="0" class="hidden" id="Both">
                  <label>Both</label>
              </div>
          </div>
          <div class="field">
              <div class="ui radio checkbox job">
                  <input type="radio" name="job" tabindex="0" class="hidden" id="Neither">
                  <label>Neither but interested...</label>
              </div>
          </div>
      </div>
      <div class="field">
    <div class="ui toggle checkbox" id="inspired">
      <input type="checkbox" tabindex="-1" class="hidden" id="#field8">
      <label>I have a project idea<br><small>Don't worry if you don't!</small></label>
        </div>
    </div>
      <div class="field hidden" id="idea">
      <label>What's your project idea?</label>
      <textarea id="field7"></textarea><div class="smallertext">A summary of potential projects will appear on our website. <br>Don't worry if this is rough-and-ready, vague or unformed.</div>
    </div>
      <div class="ui submit huge pink button">Register</div>
  </div>

    </div>
  </div>
  </div>
  </div>

<div class="spacer" style="height: 100px;"></div>



{{ partial "footer.html" . }}


    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Please check the form
      </div>
      <div class="content" id="err">
      </div>
      <div class="actions">
        <div class="ui close button" onclick="$('.ui.modal').modal('hide');">OK</div>
      </div>
    </div>


    </div>
      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/semantic/dist/components/dropdown.min.js"></script>
      <script type="text/javascript" src="/semantic/dist/components/transition.min.js"></script>
      <script type="text/javascript" src="/semantic/dist/components/sidebar.min.js"></script>
      <script type="text/javascript" src="/semantic/dist/components/checkbox.min.js"></script>
      <script type="text/javascript" src="/semantic/dist/components/dimmer.min.js"></script>
      <script type="text/javascript" src="/semantic/dist/components/modal.min.js"></script>
    <script>
    $(document).ready(function() {
      $('.ui.modal').modal();
       $('.ui.dropdown').dropdown();
      $('.sidebar').first().sidebar('attach events', '#hamburger', 'show');
      $('#idea').hide();
      $('.job').checkbox('set unchecked');
      $('.ui.toggle').checkbox({
       onChecked: function() {
                     $('#idea').show();
                   },
       onUnchecked: function() {
                     $('#idea').hide();
      }
                                });
      $('.submit').on('click', function(){

        // minimum data check
        var valid = true;
        var err = '';
        if ($('#field2').val() == '') {
          err = err + "No email address entered - we'll need to get in touch!<br><br>";
          valid = false;
        }
        if ($('#field1').val() == '') {
          err = err + "No name entered - we'll need to know your name to confirm your identity<br><br>";
          valid = false;
        }
        if (valid==false) {
        $('#err').html(err);
        $('.ui.modal').modal('show');
        } else {
        // all okay, let's submit
        var foo = $("input[name='job']:checked").prop('id') + ' sign up. ';
        foo = foo + 'Name: ' + $('#field1').val() + ',  Email: ' + $('#field2').val(); 
        if ($('#inspired').checkbox('is checked')) {
          foo = foo + ',  Project idea submitted,  Idea:' + $('#field7').val();
        }
        postMessageToSlack(foo);
        location.href="/confirm";
        }
        
      });
      
      function postMessageToSlack(foo) {
        var webhook = '';
        var client = new XMLHttpRequest();
        client.open('GET', '/webhook.txt');
        client.onreadystatechange = function() {
          if (webhook === '' ) {
            webhook = client.responseText;
          }
                  var xmlhttp = new XMLHttpRequest();
          var webhook_url = webhook;
          var myJSONStr = 'payload= {"username": "gashack", "icon_emoji": ":gift:", "channel": "#signup", "text":"' + foo + '"}';
          xmlhttp.open('POST', webhook_url, false);
          xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xmlhttp.send(myJSONStr);
        }
        client.send();
      }
    });
    </script>

  </body>

  </html>
