{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  
  <div class="ui main one column centered grid container">
  <div class="ui row"><h1>Ideas</h1></div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui fluid pink inverted segment">
        <div class="left aligned content">
          <strong style="text-decoration: none !important;">
            Here are some of the ideas and concepts tabled at the previous #gashack event<br /><br />
            This section will be updated shortly before #gashack² commences 
          </strong>
        </div>
      </div>
    </div>
  </div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="left aligned content">
          Using the patient barcode to analyse the speed and cost of patient care provision.
        </div>
      </div>
    </div>
  </div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="left aligned content">
          Using cepod LCD displays in the dame way as a filght departure board to display patient readiness and reduce cold theatre table time
        </div>
      </div>
    </div>
  </div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="left aligned content">
          The potential benefit of better risk stratification using cardiopulmonary assessment underpins a drive for expansion of CPEX testing. This is an expensive solution.  Distance walked in six minutes has been shown to be a useful surrogate to CPEX in predicting perioperative risk. Development of a simple application to facilitate a patient self administered six minute walk test could revolutionise perioperative risk assessment and outcomes research. <br><br>
          By developing a mobile solution to risk assessments patients will become more involved in perioperative work up and Pre-habilitation. Such a platform could enable developments in electronic preoperative assessment to optimise efficiency of a high volume clinical activity. The human and healthcare benefits are huge but the application is simple!
        </div>
      </div>
    </div>
  </div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="left aligned content">
          A simple, printable, instant TO4 using neurostimulator and EMG tech to have an instant proof of NMDB reversal
        </div>
      </div>
    </div>
  </div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="left aligned content">
          The 'live' actor is the ultimate high fidelity simulation manikin! However, there are clinical signs lacking (hopefully....) from well people. I would like to create a capacitance stethoscope prototype capable of playing back sounds through headphones when the stethoscope comes into contact with the skin, using an Arduino prototype. This would enable clinical sounds to be added to actors or babies! - pericardial rubs, creps, wheezes etc. This would utilise some of the Arduino libraries available and introduce aspects of coding in C  , breadboard prototyping and introduce the IoT to participants (hopefully!).
        </div>
      </div>
    </div>
  </div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="left aligned content">
          An online/smart phone app for trainers to submit feedback on trainees (and vice versa) in an anonymised way. This data can then be collated quantitatively and qualitatively and used for feedback for both trainers and trainees.
        </div>
      </div>
    </div>
  </div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="left aligned content">
          Individualised per-operative medication instructions for patients
        </div>
      </div>
    </div>
  </div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="left aligned content">
          Taking the CLWrota API and making a #hellomynameis staff notice board for departments powered by a Raspberry Pi
        </div>
      </div>
    </div>
  </div>
      
    
</div>
  
  <div style="height: 80px;"></div>
{{ partial "footer.html" . }}
{{ partial "end.html" . }}