{{ partial "head.html" . }}
<body>

  {{ partial "header.html" . }}

<div class="ui logos grid container">
    <div class="three wide column"><a href="http://www.rcoa.ac.uk"><img width="100%" src="/images/rcoa-bw.png"></a></div>
    <div class="two wide column">&nbsp;</div>
    <div class="six wide column"><a href="http://www.scata.org.uk"><img width="100%" src="/images/scata.png"></a></div>  
</div>

<div class="masthead">
  <div class="ui two column stackable centered grid">
    <div class="column">

    <img src="/images/gashack.svg" width="90%">
    </div>
<div class="black row">
        <div class="ui white"><p>London<br>Sat/Sun 21/22 Oct 2017</p></div>
</div>
<div class="black row">
  <!-- <div class="ui brown large label">Registration closed<br><br>Contact <a href="mailto:sbusaidyhubert@rcoa.ac.uk">sbusaidyhubert@rcoa.ac.uk</a> if you'd like to join the reserve list</div> -->
  <a href="/register/">
<button class="ui right labeled pink icon button">
    <i class="right arrow icon"></i>
    Registration
  </button>
  </a>
  </div>
  </div>
</div>


<div class="ui main three column grid container" style="margin-bottom: 5em;">

  <h1>What's this all about?</h1>

  <p>#gashack² is a hack day, inspired by our friends at <a href="http://nhshackday.com/">NHS Hack Day</a>, where anaesthetists and people with heavy-duty IT skills will get together and try and make things.</p>

  <p><strong>It really is as simple as that.</strong></p>

  <p>Over the course of a weekend in October, the Royal College of Anaesthetists will open its doors and try and incubate innovation, connecting Fellows and Members with ideas with those who can help build them into a reality.</p>

  <p>On the first day, anyone with an idea (see the ideas section of this website for those who have already thought of something) pitches it to the rest of the attendees.  Over coffee, teams are formed around these ideas based on skills and interests.</p>

  <p>The rest of the weekend is spent making the ideas become a reality in a very informal environment.  Teams are fluid and organic based on the needs of the projects and the interests of those involved.</p>

  <p>On the Sunday afternoon, the teams demo their products in front of the rest of the attendees and a panel of judges, with prizes to the teams with the most innovative, exciting or world-changing product.</p> 

  <p><strong>You don't have to be technical (although that can help sometimes), you just need to be willing to work with others toward building solutions to problems we come across in anaesthesia, intensive care, pain and perioperative medicine.</strong></p>

  <p>For anaesthetists, it's a great opportunity to share ideas, learn new skills and try and turn those big ideas that pop into our heads during long cases into a reality.  For the techies, it's an opportunity to work with a charitable organisation, meet some inspiring people with good ideas and perhaps even break into the healthcare industry.</p>


</div>
</div>
{{ partial "footer.html" . }}
{{ partial "end.html" . }}
