{{ partial "head.html" . }}
<body>

  {{ partial "header.html" . }}


  <div class="ui main three column grid container">
    <div class="ui row"><h1>Hotels</h1></div>
    <div class="ui row"><p>There are plenty of hotels nearby to choose from.  Additionally, the College is conveniently located close to Holborn London Underground station should you wish to travel in from further afield.</p></div>
     <div class="ui items">
       <div class="item">
         <div class="ui small image">
           <img src="/images/holidayinn.png">
         </div>
         <div class="content">
           <div class="header">Holiday Inn</div>
           <div class="meta">
             <span class="location">Bloomsbury, Coram Street, London WC1N 1HY </span><br><br>
             <span class="ui label"><a href="http://www.holidayinn.co.uk/">http://www.holidayinn.co.uk/</a></span>
           </div>
           <div class="description">
             <p></p>
           </div>
         </div>
       </div>
       <div class="item">
         <div class="ui small image">
           <img src="/images/grange.png">
         </div>
         <div class="content">
           <div class="header">Grange Holborn</div>
           <div class="meta">
             <span class="location">50–60 Southampton Row, London WC1B 4AR </span><br><br>
             <span class="ui label"><a href="http://www.grangehotels.com/">http://www.grangehotels.com/</a></span>
           </div>
           <div class="description">
             <p></p>
           </div>
         </div>
       </div>
       <div class="item">
         <div class="ui small image">
           <img src="/images/russell.jpg">
         </div>
         <div class="content">
           <div class="header">Hotel Russell</div>
           <div class="meta">
             <span class="location">1–8 Russell Square, London WC1B 5BE</span><br><br>
             <span class="ui label"><a href="http://www.londonrussellhotel.co.uk/">http://www.londonrussellhotel.co.uk/</a></span>
           </div>
           <div class="description">
             <p></p>
           </div>
         </div>
       </div>
     </div>
   
  </div>


{{ partial "footer.html" . }}
{{ partial "end.html" . }}