{{ partial "head.html" . }}
<body>

  {{ partial "header.html" . }}


<div class="ui three column grid container" style="padding-top: 60px;">
  <div class="ui row"><h1>Social</h1></div>
  <div class="ui mastheadS row">
<div class="ui very padded text container">

<h4 style="color:#fff;">Join us!</h4>
<p style="color:#fff;">When the hacking finishes on Saturday evening, attendees are welcome to join us for an informal social event.<br><br>
Depending on numbers, we'll be arranging food and a few drinks in one of the many fantastic venues around the College.<br><br>
From catching up on other projects to throwing around new ideas, you'd be most welcome to join us.<br><br>
Contact <a href="mailto:jp.lomas@gmail.com">jp.lomas@gmail.com</a> or speak to JP on the day!
</p>
  <p>&nbsp;</p>  <p>&nbsp;</p>
</h4>
  </div>
</div>
</div>
<div style="height: 80px;"></div>
{{ partial "footer.html" . }}
{{ partial "end.html" . }}