{{ partial "head.html" . }}
<body>

  {{ partial "header.html" . }}



<div class="ui main three column grid container">
  <div class="ui row"><h1>Venue</h1></div>
  <div class="ui row"><p>#gashack will be held at The Royal College of Anaesthetists in Holborn, London.</p></div>
      <div class="ui row"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.6665983938856!2d-0.1217766838119866!3d51.519332379636985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b35c56265fd%3A0x7b3c693bf63ffa73!2sThe+Royal+College+of+Anaesthetists!5e0!3m2!1sen!2suk!4v1494510540325" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
  
   <div class="ui row"><a href="https://www.rcoa.ac.uk/sites/default/files/rcoa-map.pdf"><button class="ui button">Downloadable map </button></a></div>
   <div class="ui row"><a href="https://www.rcoa.ac.uk/about-the-college/contact-the-college"><button class="ui button">Further travel information</button></a></div>
 <div style="height: 40px;"></div>
</div>

{{ partial "footer.html" . }}
{{ partial "end.html" . }}