{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  <div class="ui main three column grid container">
    <div class="ui row"><h1>Sponsorship</h1></div>
    <div class="ui row">
        <p>Companies wishing to support #gashack² are invited to make contact via email.  Space for trade stands is available in delegate areas for the duration of the weekend, and banner advertising is available on our website.</p>
        <p>Please contact <a href="chairman@scata.org.uk">chairman@scata.org.uk</a></p>
    </div>
  </div>

  <div style="height: 80px;"></div>
{{ partial "footer.html" . }}
{{ partial "end.html" . }}